:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #root {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #213547;
  }
}
